# Сборка CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeUserPresets.json

# Сгенерированные файлы CMake
*.cmake

# PYTHON
# Кэшированные файлы
__pycache__/
*.py[cod]
*$py.class
*.so


# Исполняемые файлы и библиотеки
*.exe
*.out
*.app
*.so
*.dylib
*.dll
*.a
*.lib

#Видео-файлы
*.mp4

# Объектные файлы
*.o
*.obj
*.pch
*.pth
*.pt

# Отладка
*.dSYM/
*.su
*.idb
*.pdb
*.ilk

# Кэш компилятора
*.gcno
*.gcda

# Профилирование
*.gcov

# Автогенерируемые файлы
*.autogen
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Резервные копии
*.backup
*.bak

# Логи
*.log
*.log/

# Временные файлы
tmp/
temp/

# Системные файлы
Thumbs.db
